@page "/Contact"

<MudGrid>
    <MudItem Class="pa-10" xs="12" sm="6" md="6" lg="9">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h4">Contact us </MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText Typo="Typo.subtitle1">
                    As this project is in a very early stage, the contact methods are very basic too. There is no "corperate" way so far, just mail, Twitter and Github.
                </MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem Class="pa-10" xs="12" sm="6" md="6" lg="3">
        <div class="d-flex flex-column">
            <InfoCard Icon="@Icons.Material.Filled.Mail" Headline="Email">
                <MudLink Href="mailto://b.kappel@outlook.de" Target="_blank">b.kappel90@outlook.de</MudLink>
            </InfoCard>
            <InfoCard Icon="@Icons.Custom.Brands.Twitter" Color="mt-4" Headline="Twitter">
                <MudLink Href="https://twitter.com/just_the_benno" Target="_blank">@@just_the_benno</MudLink>
            </InfoCard>
            <InfoCard Icon="@Icons.Custom.Brands.GitHub" Color="mt-4" Headline="Github">
                <MudLink Href="https://github.com/just-the-benno/BlazeItUp-Pre" Target="_blank">BlazeItUp-Pre</MudLink>
            </InfoCard>
        </div>
    </MudItem>
    </MudGrid>

